In [7]:
import pandas as pd
import sqlite3

# Load CSV
df = pd.read_csv("ga4_events_2.csv")

# Connect to local SQLite file
conn = sqlite3.connect("local.db")

# Load DataFrame into SQLite table
df.to_sql("ga4_events", conn, if_exists="replace", index=False)

2981

In [2]:
df_ga4 = pd.read_sql("SELECT * FROM ga4_events LIMIT 5", conn)

In [3]:
df_ga4.columns

Index(['_databricks_row_hash', 'event_date', 'event_timestamp', 'event_name',
       'event_params', 'event_previous_timestamp', 'event_value_in_usd',
       'event_bundle_sequence_id', 'event_server_timestamp_offset', 'user_id',
       'user_pseudo_id', 'privacy_info', 'user_properties',
       'user_first_touch_timestamp', 'user_ltv', 'device', 'geo', 'app_info',
       'traffic_source', 'stream_id', 'platform', 'event_dimensions',
       'ecommerce', 'items', 'collected_traffic_source', 'is_active_user',
       'batch_event_index', 'batch_page_id', 'batch_ordering_id',
       'session_traffic_source_last_click', 'publisher'],
      dtype='object')

In [4]:
pd.read_sql("SELECT COUNT(*) AS total_events FROM ga4_events", conn)

   total_events
0          2981

In [5]:
pd.read_sql("SELECT DISTINCT event_name FROM ga4_events", conn)

        event_name
0  user_engagement
1       form_start
2      first_visit
3    session_start
4        page_view
5           scroll
6      form_submit
7        signed_up

In [6]:
pd.read_sql("""
SELECT event_name, COUNT(*) AS event_count
FROM ga4_events
GROUP BY event_name
ORDER BY event_count DESC
LIMIT 10
""", conn)

        event_name  event_count
0        page_view          955
1  user_engagement          742
2    session_start          386
3           scroll          372
4      first_visit          294
5       form_start          148
6      form_submit           69
7        signed_up           15

In [9]:
pd.read_sql("SELECT * FROM ga4_events LIMIT 5", conn)

,_databricks_row_hash,event_date,event_timestamp,event_name,event_params,event_previous_timestamp,event_value_in_usd,event_bundle_sequence_id,event_server_timestamp_offset,user_id,...,event_dimensions,ecommerce,items,collected_traffic_source,is_active_user,batch_event_index,batch_page_id,batch_ordering_id,session_traffic_source_last_click,publisher
0,a39cab674df140afffbb7e80c0f8b9a1,20250120,1737368790796413,user_engagement,"[{""key"":""page_title"",""value"":{""string_value"":""...",None,None,-1315010435,None,None,...,None,None,[],None,1,1,1737368746439,4,"{""manual_campaign"":{""source"":""google"",""term"":""...",None
1,0a364bf2615b196ccf518aa4e7a4d1c9,20250120,1737413782437745,form_start,"[{""key"":""ignore_referrer"",""value"":{""string_val...",None,None,726957937,None,None,...,None,None,[],None,1,1,1737413777105,2,"{""manual_campaign"":{""source"":""serp.ly"",""term"":...",None
2,69a82470a8f9edf0032cf94bd47f1cd8,20250119,1737311020439143,first_visit,"[{""key"":""session_engaged"",""value"":{""string_val...",None,None,1044174439,None,None,...,None,None,[],None,1,1,1737311017882,1,"{""manual_campaign"":{""source"":""(not set)"",""term...",None
3,f62f92591ef7adb0ad044fba418d6de8,20250119,1737364433619590,user_engagement,"[{""key"":""batch_ordering_id"",""value"":{""string_v...",None,None,-1377219962,None,None,...,None,None,[],None,1,1,1737364425273,2,"{""manual_campaign"":{""source"":""(not set)"",""term...",None
4,4777900e3641b69725dd1f4d0cf3d849,20250119,1737361244090185,session_start,"[{""key"":""medium"",""value"":{""string_value"":""refe...",None,None,-271782071,None,None,...,None,None,[],"{""manual_campaign_id"":null,""manual_source"":""yo...",1,2,1737361243339,1,"{""manual_campaign"":{""source"":""youtube.com"",""te...",None